body {
	font-weight: bold;
	background: #000;
}

#maparea {
	background: url(../img/chernarus.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 1000px;
}

#obj-player {
	width: 5px;
	height: 5px;
	background: #ff0000;
	position: absolute;
}

#obj-vehicle {
	color: #ff00c0;
	position: absolute;
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}